/*
OEFENING 5
globale opmaakkenmerken
- de links hebben een gele achtergrondkleur
- de navigatie-elementen hebben een padding van 20px

opmaakkenmerken tot 600px
- alle elementen staan onder elkaar in blokken
- de tekst staat centraal uitgelijnd

opmaakkenmerken vanaf 600px
- positioneer de navigatie-elementen naast elkaar a.d.h.v. flexbox
- tussen de elementen is een gap van 20px
- de vier navigatie-elementen nemen evenveel breedte in

uitbreiding
- de navigatie-elementen hebben tekstkleur zwart
- verwijder de onderlijnde tekst van de links
- de navigatie-elementen staan in hoofdletters 
- als je hovert over de elementen, wordt de achtergrondkleur rood
- de pagina “Over Ons” komt na contact
*/

nav a {
  background-color: yellow;
  padding: 20px;
  color: black;
  text-decoration-line: none;
  text-transform: uppercase;
}

a#item {
  order: 2;
}

a:hover {
  background-color: red;
}

@media screen and (max-width: 600px) {
  nav a {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  nav {
    display: flex;
    gap: 20px;
  }

  a {
    flex: 25%;
  }
}